*{
    max-width: 1600px;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}


nav{
    height: 92px;
    border-bottom: 1px solid rgb(89, 0, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;


}

nav ul{
    display: flex;
    gap: 3vw;
}

nav ul li{
    list-style: none;

}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}

nav .primary-btn{
    display: flex;
    align-items: center;
    padding: 1em 2em;
    border-radius: 25px;
    color: white;
    background: linear-gradient(45deg, yellow, rgb(255, 0, 255), rgb(176, 0, 230));
    
    border: none;
    
    
}

.banner{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 760px;

    
    width: 100%;
}

.content{
    text-align: center;
      padding-top: 100px;
}
.circle{
    position: relative;
}




.circle .microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle .box{
    position:absolute;
     top: 1vw;
    right: 40vw;
    width: 75px;
    height: 27px;
    border: none;
    border-radius: 25px;
    color: black;
    background-color: #00FF88;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0px 0px 20px #00FF88;
     
}

.circle .box p{
    font-weight: bold;
}

.content .text h1{
    color: white;
    font-size: 60px;
     padding-top: .5em;

    padding-bottom: .25em;
}

.content .text p{
    color: white;
    opacity: 50%;
    padding-bottom: 2em;
}

.content .buttons{
    display: flex;
    justify-content: center;   
    gap: 1rem;
}

.content .buttons .primary-btn{
    display: flex;
align-items: center;
padding: 1em 2em;
border-radius: 25px;
color: white;
background: linear-gradient(45deg, yellow, rgb(255, 0, 255), rgb(176, 0, 230));
gap:8px;
    

border: none;

}

.content .buttons .second{
    padding: 1em 2em;
border-radius: 25px;
border: 2px solid #00FF88;
 display: flex;
align-items: center;
color:#00FF88 ;
background-color: transparent;
gap:8px;


}


.about{
    background-color: #1A0B2E;
    padding: 0em 10em 0em 10em;

}

.about .text1{
    text-align: center;
    padding-top: 2em;
    color: white;
    padding-bottom: 80px;


}
.about .text1 h1{
    font-size: 48px;
    font-weight: bold;

}


.about .text1 p{
    font-size: 12px;
    opacity: 70%;
    line-height: 22px;

}


.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1em 10em 2em 18em;

}

.grid h2{
    font-size: 48px;
    color: #00FF88;
    font-weight: bold;

}
.grid p{
    color: white;
}

.about hr{
    opacity: 25%;
}

.choose{
    text-align: center;
    background-color: #1A0B2E;
}

.choose h2{
    color: white;
    font-size: 48px;
    font-weight: bold;

}

.grid-container{
    padding-top: 2em ;
    display:grid;
     grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    

    
    
    
    
}

.grid-container div{
    height: 380px;
    width: 270px;
    border-radius: 50px;
    background-color:#301453 ;

}

.two-rows{
    grid-row: span(2);
    grid-column: span(1);
    
/*  */
}
/*  */
/*  */
.two-columns{
     grid-column: span(2);
     grid-row: span(1);
/*  */
/*  */
}
/*  */
.one-columns{
     grid-column: span(1);
     grid-row: span(1);
/*  */
}
/*  */
/*  */





