*{
    max-width: 1600px;
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}


nav{
    height: 92px;
    border-bottom: 1px solid rgb(89, 0, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;


}

nav ul{
    display: flex;
    gap: 3vw;
}

nav ul li{
    list-style: none;

}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}

nav .primary-btn{
    display: flex;
    align-items: center;
    padding: 1em 2em;
    border-radius: 25px;
    color: white;
    background: linear-gradient(45deg, yellow, rgb(255, 0, 255), rgb(176, 0, 230));
    transition: .1s ease-in;
    border: none;
    
    
}

nav .primary-btn:hover{
    background: linear-gradient(45deg,  rgb(34, 0, 78), rgb(140, 0, 255));
    box-shadow: 0px 0px 15px rgb(198, 163, 255);
    transform: scale(1.1);
    


}

nav .primary-btn:active{
    transform: scale(0.95);


}

nav .manu{
    display: none;
}

.banner{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 760px;

    
    width: 100%;
}

.content{
    text-align: center;
      padding-top: 100px;
}
.circle{
    position: relative;
}




.circle .microphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle .box{
    position:absolute;
     top: 1vw;
    right: 40vw;
    width: 75px;
    height: 27px;
    border: none;
    border-radius: 25px;
    color: black;
    background-color: #00FF88;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0px 0px 20px #00FF88;
     
}

.circle .box p{
    font-weight: bold;
}

.content .text h1{
    color: white;
    font-size: 60px;
     padding-top: .5em;

    padding-bottom: .25em;
}

.content .text p{
    color: white;
    opacity: 50%;
    padding-bottom: 2em;
}

.content .buttons{
    display: flex;
    justify-content: center;   
    gap: 1rem;
}

.content .buttons .primary-btn{
    display: flex;
align-items: center;
padding: 1em 2em;
border-radius: 25px;
color: white;
background: linear-gradient(45deg, yellow, rgb(255, 0, 255), rgb(176, 0, 230));
gap:8px;
transition: 0.1s ease-in;
    

border: none;

}

.content .buttons .primary-btn:hover{
     background: linear-gradient(45deg,  rgb(34, 0, 78), rgb(140, 0, 255));
 box-shadow: 0px 0px 15px rgb(198, 163, 255);
 transform: scale(1.1);

}

.content .buttons .primary-btn:active{
    transform: scale(0.95);

}


.content .buttons .second{
    padding: 1em 2em;
border-radius: 25px;
border: 2px solid #00FF88;
 display: flex;
align-items: center;
color:#00FF88 ;
background-color: transparent;
gap:8px;
transition: .1s ease-in;


}

.content .buttons .second:hover{
   background: linear-gradient(45deg,  rgb(34, 0, 78), rgb(0, 255, 115));
    color: #1A0B2E;
    transform: scale(1.1);
     box-shadow: 0px 0px 15px rgb(198, 163, 255);
    

}

.content .buttons .second:active{
    transform: scale(0.95);

}





.about{
    background-color: #1A0B2E;
    padding: 0em 10em 0em 10em;

}

.about .text1{
    text-align: center;
    padding-top: 2em;
    color: white;
    padding-bottom: 80px;


}
.about .text1 h1{
    font-size: 48px;
    font-weight: bold;

}


.about .text1 p{
    font-size: 12px;
    opacity: 70%;
    line-height: 22px;

}


.grid{
    display: grid;
   
    grid-template-columns: repeat(4, 1fr);
    padding: 1em 10em 4em 15em;
    

}

.grid h2{
    font-size: 48px;
    color: #00FF88;
    font-weight: bold;

}
.grid p{
    color: white;
}

.about hr{
    opacity: 25%;
}

.choose{
    text-align: center;
    background-color: #1A0B2E;
}

.choose h2{
    color: white;
    font-size: 48px;
    font-weight: bold;


}



.box1{
    grid-area: box1;

}


.box2{
   grid-area: box2;
   
}

.box3{
   grid-area: box3;
   
}

.box4{
   grid-area: box4;
   
}

.box5{
   grid-area: box5;
   
}


.grid-container{
   padding: 2em 6em 6em 8em;
   
    display:grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "box1 box2 box2"
    "box1 box3 box3"
    "box4 box4 box5"
    

       
}

.grid-container div{
   
   padding: 2em;
    border-radius: 35px;
    background-color:#250f3f ;
    text-align: left;
    color: white;

}

.grid-container div h3{
    font-size: 24px;
    margin-bottom: .5em;
     margin-top: 1em; 
}

.grid-container div p{
    line-height: 24px;
    padding: 0em 2em 2em 0em;
    opacity: 40%;
}

.grid-container .box1{
    padding-top: 7em;
}

.video{
    background-color: #1A0B2E;
    text-align: center;
    color: white;
}

.video h2{
    padding-top: .5em;
    margin-bottom: 1em;
    font-size: 48px;
    font-weight: bold;

}

.video .card-container{
    display: flex;
    justify-content: center;
    gap: 2.5em;
    height: 70%;
    width: 65%;
   padding-bottom: 8em;
   margin: 0px auto;
   



}

.video .video-box{
    border: none;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    height: 150px;
    padding: none;



}

.video-box iframe{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.card-container .cards{
    
    background-color: #250f3f;
    border-radius: 8px;
    text-align: left;
    
   
}

.card-container .cards h3{
    font-size: 24px;
    margin-bottom: .5em;
    padding-top: .5em;
    padding-left: .75em;

}

.card-container .cards p{
    opacity: 65%;
    line-height: 20px;
    font-size: 15px;
    padding-left: 1em;
    padding-bottom: 1em;
    
}






.card-container span{
    color: #00FF88;
    display: flex;
    gap: px;
    font-weight: bold;
   
    
}

.host{
    background-color: #1A0B2E;
    color: white;
    padding-bottom: 8em;

}

.host h2{
    text-align: center;
    padding-bottom: 1.5em;

}

.img-container{
    display: flex;
    width: 1140px;
    height: 180px;
    background-color: #250f3f;
    border-radius: 15px;
    padding: 40px;
    margin: 0px auto;
    gap: 25px;

}

.img-container .text{
    padding-top:1.5em;
}


.img-container .text p{
    
    opacity: 50%;
    line-height: 20px;
    padding-top: 8px;

}

.text .main{
    display: flex;
    gap: 1em;
    padding-top: .75em;
}

.main .contact{
    height: 38px;
    width: 38px;
    border:2.5px solid #3d156b;
    border-radius: 50%;
    
    


}

.contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

footer{
    height: 412px;
    width: 100%;
    background-image: url(assets/footer-bg.png);
    text-align: center;
    color: white;
    /* padding-top: 15em; */
    background-size: cover;
background-position: center;
    /* padding-left: 1em; */


}

.margin{
    padding-top: 9em;
}

footer .podcast{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding-top: 2em;
    padding-left: 1em;

}

footer .podcast div{
    display: flex;
    align-items: center;
    gap: 8px;
}

footer p{
    opacity: 50%;
}


@media screen  and (max-width:576px) {

    nav ul {
        display: none;

    }

    nav .primary-btn{
        display: none;
    }

    nav .manu{
    display: block;
}
    
}

